@use "_nav";

// font type
$font-family: "Roboto", sans-serif;

// colors
$primary-color: hsl(26, 100%, 55%);
$secondary-color: hsl(25, 100%, 94%);

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-weight: 500;
  line-height: 1;
}
